* {
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(73, 80, 80);
}

.main-banner {
    margin: 0 auto;
    width: 300px;
    height: 250px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-weight: bold;
    color: rgb(238, 88, 101);
    text-transform: uppercase;
}

.main-banner .imgban {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    
}

.main-banner #imgban3 {
    background-image: url(./img/killua.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban2 {
    background-image: url(./img/saskue.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban1 {
    background-image: url(./img/versusPic.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imgbanbtn {
    width: 40px;
    height: 40px;
    background-color:rgb(231, 91, 91);
    border-radius: 4px;
    position: absolute;
    top: 180px;
    z-index: 2000;
    opacity: 0.8;
    cursor: pointer;
}

.imgbanbtn:hover {
    opacity: 0.9;
}

.imgbanbtn-prev {
    left: 5px;
    background-image: url(img/Leftarrow.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.imgbanbtn-next {
    right: 5px;
    background-image: url(img/rightarrow.jpeg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.imgbanbtn-google {
    position:absolute;
    text-align: left;
    bottom: 0;
    background-color:rgb(231, 91, 91);
    cursor: pointer;
    border-radius: 17px;
    right: 35%;
}